#logo {
    width: 50px;
}

#main-canvas svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.links line {
	stroke: #999;
    /*stroke-opacity: 0.6;*/
    stroke-width: 2px;
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1.5px;
}

.nodes circle:hover,
.node-labels text:hover {
    cursor: pointer;
}

.node-labels text {
    fill: white;
    /* user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; */
} 